@media screen and (max-width: 1100px) {

    /* header start */

    .promo {
        background-position: left center;
    }

    .menu-list {
        display: none;
    }

    .menu-mobile {
        display: flex;
        gap: 0 20px;
    }

    .logo-img {
        width: 50px;
    }

    .nav {
        align-items: center;
    }

    .title {
        font-size: 64px;
    }

    .subtitle {
        font-size: 42px;
    }

    .subtitle span {
        font-size: 32px;
    }

    .menu-btn {
        display: none;
    }


    /* header end */
}

@media screen and (max-width: 969px) {
    .evo-white__inner::after {
        display: none;
    }
}

@media screen and (max-width: 840px) {
    /* header start */

    .menu-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45px;
        height: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 10;
    }

    .menu-btn span {
        height: 3px;
        width: 100%;
        background-color: #fff;
    }

    .menu-mobile {
        display: none;
    }

    .menu-mobile.menu--open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(31, 30, 30, 0.5);
        height: 100vh;
        z-index: 5;
        text-align: center;
        padding-top: 140px;
    }

    .menu-link {
        color: white;
        font-size: 4vh;
        display: block;
        padding: 20px 0;
}

    .logo {
        z-index: 10;
    }

    /* header end */

    /* info start */

    .info__part-textbox {
        display: block;
        padding-bottom: 15px;
    }

    .info__part {
        display: block;
    }

    .info__part--second .info__text,
    .info__part--third .info__text {
        max-width: 100%;
    }

    .info__table {
        width: 100%;
    }

    .info__part-img {
        width: 100%;
    }

    /* info end */
}

@media screen and (max-width: 768px) {
    .blog__quote {
        flex-direction: column;
    }

    .blog__quote-box {
        flex-basis: auto;
    }

    .blog__quote-img {
       order: -1; 
    }

    .blog__item-img {
        width: 100%;
    }
}

@media screen and (max-width: 669px) {
    /* evo start */

    .evo-white__inner::before {
        display: none;
    }

    .evo__descr-list {
        display: block;
        text-align: center;
    }

    .evo__descr-list div {
        margin-bottom: 15px;
    }

    .evo-black__info {
        display: block;
    }

    .evo-black__title {
        margin-bottom: 20px;
    }

    /* evo end */

    /* footer start */

    .footer__top {
        display: block;
    }

    .footer__bottom {
        display: flex;
        flex-direction: column;
    }

    .footer__bottom-link {
        padding-bottom: 10px;
    }

    /* footer end */
}

@media screen and (max-width: 560px) {

    .title {
        font-size: 48px;
    }

    .subtitle {
        font-size: 34px;
    }

    .subtitle span {
        font-size: 26px;
    }

    .info__table td:nth-child(2) {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .evo-black__inner::after {
        display: none;
    }

    .evo-black__inner::before {
        display: none;
    }
    
}

@media screen and (max-width: 340px) {

    .title {
        font-size: 42px;
    }

    .subtitle {
        font-size: 34px;
    }

    .subtitle span {
        font-size: 26px;
    }
}

