@media screen and (max-width: 1100px) {

    /* header start */

    .promo {
        background-position: left center;
    }

    .menu-list {
        display: none;
    }

    .menu-mobile {
        display: flex;
        gap: 0 20px;
    }

    .logo-img {
        width: 50px;
    }

    .nav {
        align-items: center;
    }

    .title {
        font-size: 64px;
    }

    .subtitle {
        font-size: 42px;
    }

    .subtitle span {
        font-size: 32px;
    }

    /* header end */
}

@media screen and (max-width: 820px) {
    /* header start */

    .menu-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45px;
        height: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 10;
    }

    .menu-btn span {
        height: 3px;
        width: 100%;
        background-color: #fff;
    }

    .menu-mobile {
        display: none;
    }

    .menu-mobile.menu--open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(31, 30, 30, 0.5);
        height: 100vh;
        z-index: 5;
        text-align: center;
        padding-top: 140px;
    }

    .menu-link {
        color: white;
        font-size: 4vh;
        display: block;
        padding: 20px 0;
}

    .logo {
        z-index: 10;
    }

    /* header end */
}

@media screen and (max-width: 560px) {

    .title {
        font-size: 48px;
    }

    .subtitle {
        font-size: 34px;
    }

    .subtitle span {
        font-size: 26px;
    }
    
}

@media screen and (max-width: 340px) {
    .title {
        font-size: 42px;
    }

    .subtitle {
        font-size: 34px;
    }

    .subtitle span {
        font-size: 26px;
    }
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 1200px) {
    
}