.footer {
    padding: 100px 0 80px;
    background-color: #363636;
    color: white;
}

.footer__title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 50px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}

.footer__info-item {
    margin-bottom: 50px;
}

.footer__info-item dt,
.footer__address-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__info-item dd {
    margin-bottom: 10px;
}

.social-list {
    display: flex;
    gap: 0 20px;
    align-items: center;
}


.footer__address {
    flex-basis: 462px;
}

.footer__address-text {
    font-size: 16px;
    margin-bottom: 20px;
}

.footer__bottom {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#map {
    height: 250px;
}