.promo {
    background-image: url(../images/promo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}

.promo__inner {
    min-height: 100vh;
    text-align: center;
}

.title {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 76px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
}

.subtitle {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 48px;
    border-bottom: 1px solid #040404 ;
    margin-bottom: 10px;
}

.subtitle span {
    display: block;
    font-size: 34px;
    color: rgb(85, 75, 16);
    padding: 10px 0;
}

.promo__text {
    color: #363636;
    font-size: 16px;
    margin-bottom: 10px;
}