.header {
    padding-top: 25px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    gap: 0 40px;
    padding-top: 25px;
}

.menu-link {
    color: #363636;
}

